
  
  .slider-thumb::before {
    position: absolute;
    content: "";
    left: 60%;
    top: 20%;
    width: 450px;
    height: 450px;
    background: #6b2ae2;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
  }
  

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    display: flex;
    width: 100%;
    height: 100vh;
    /* animation: animateBackground 5s ease infinite; */
    animation:sliderShape 5s linear infinite;
    background-size: cover;
    background-position: center;
}

@keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
      background: #6b2ae2;
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
      
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg);
      background: #000000;
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
      
    }
  }
@keyframes animateBackground {
    0% {
      background-color: #000;
    }
    50% {
      background-color: #53274b;
    }
    100% {
      background-color: #000;
    }
}
.container{
    padding: 10px 10% ;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}

nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height:3px;
    background: #27bbbb;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.8s;
}

nav ul li a:hover::after{
    width: 100%;
}

.image {
    margin-top: 10%;
    display: inline-block;
    width: 400px;
    height: 400px;
  }

.image img{
    border-radius: 5%;
}

.header-text{
    display: inline-block;
    margin-top: 10%;
    font-size: 30px;
    margin-left: 70px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text p span{
    color:#ff0059c8;
}
.header-text h1 span{
    color: #27bbbb;
}
/*----about------*/
#about{
    display: flex;
    flex-wrap: wrap;
    padding:80px 0;
    color:#ababab;
}
#personal{
    display: flex;
    flex-wrap: wrap;
    padding:80px 0;
    color:#ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.about-col-1{
    order: 2;
    flex: 1;
    min-width: 300px; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* flex-basis: 35%; */
}
.about-col-1 img{
    width:80%;
    border-radius: 15px;
}
.personal-col-1{
    order: 1;
    flex: 1;
    min-width: 300px; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* flex-basis: 35%; */
}
.personal-col-1 img{
    width:80%;
    border-radius: 15px;
}

.about-col-2{
    order: 1;
    flex: 1;
    min-width: 300px; 
    /* flex-basis: 60%; */
}

.about-col-2 p{
    line-height: 2;
    color:#fff;
}

.about-col-2 h1 span{
    color: #d43ab8;
}

.personal-col-2m{
    order: 2;
    flex: 1;
    min-width: 300px; 
}

.personal-col-2m h1 span{
    
    color: #27bbbb;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}


.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #d43ab8;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition:0.8s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:#d43ab8 ;
    font-size: 14 px;
}

.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display: block;
}

/*services*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight:300;
    border-right: 10px;
    border-radius: 20px;
    transition: transform 0.8s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight:500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size:12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #27bbbb;
    color: #000000;
    transform: translateY(-10px);
}

/*----contact---*/
.containercontact{
    display: flex;
    justify-content: center;
}
.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p{
    color: #27bbbb;
    margin-right: 20px;
    font-size: 25px
}
.contact-left h1 span{
    color: #27bbbb;
    
}
.contact-left a{
    text-decoration: none;
    color: #27bbbb;
}

.sub-title a{
    text-decoration:none ;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.8s;
}
.sub-title a:hover{
    color:#8f428b ;
    transform:translateY(-5px);
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration:none ;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.8s;
}
.social-icons a:hover{
    color:#8f428b ;
    transform:translateY(-5px);
}
.btn.btn2{
    border-radius: 15px;
    margin-top:10px;
    display: inline-block;
    background: #8f428b;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none; 
    color: #ababab;
    transition: transform 0.8s;
}

.btn:hover {
    transform:translateY(-5px);
    color: #ffffff;
  } 

.copyright{
    width:100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

/*-----------css for small screens---*/
nav.fas{
    display: none;
}
@media only screen and (max-width:600px){
    .image img{
        width:200px;
        height :200px;
    }
    .header-text{
        margin-top:10px;
        font-size: 16px;
    }
    .header-text h1{
        font-size:30px;
    }
}
#msg{
    color: #61b752;
    margin-top: 10px;
    display: block;
}

.ag-format-container {
    
    width: 1000px;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 0 auto; */
    gap: 20px;
  }
  
  
  body {
    background-color: #000;
  }
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
  
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #bc5df3;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #b117f8;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #5c44e7;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #20abfc;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #dc2aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }